@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
    background-color: #e8e8e8;
    color: #000000;
    height: 72vh;
}


.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
    padding: 2%;
}
.navbar h1{
    text-decoration: underline;
    font-size: 2rem;
    font-weight: 300;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.content .link,
.navbar .nav-links .nav-link{
    color: #fff;
    background-color: #212121;
    border: none;
    text-decoration: none;
    padding: 12px 16px;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}
.content .link:hover,
.navbar .nav-links .nav-link:hover {
    background-color: #313131;
}
.content h2{
    margin: 0;
    font-size: 4rem;
    font-weight: 700;
}
.content p {
    text-align: center;
    font-size: 1.5rem;
}



footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
footer .social-links {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
}

footer .social-links .social {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

footer .social-links .social .socialSvg {
    width: 17px;
}
    
footer .social-links .social .socialSvg path {
    fill: rgb(255, 255, 255);
}

footer .social-links .ig:hover {
    background-color: #d62976;
}

footer .social-links .in:hover {
    background-color: #0072b1;
}


@media only screen and (max-width: 600px) {
    .navbar{
        flex-direction: column;
    }
    .navbar h1{
        margin-bottom: 1.8rem;
        font-size: 2rem;
    }
    .content{
        height: 80%;
    }
    .content h2{
        text-align: center;
        margin-top: 1rem;
    }
    footer{
        flex-direction: column;
    }
}
@media only screen and (max-width: 360px) {
    .navbar{
        flex-direction: column;
    }
    .navbar h1{
        margin-bottom: 1.8rem;
        font-size: 2rem;
    }
    .navbar .nav-links{
        display: flex;
        flex-direction: column;
    }
    .content{
        height: 80%;
    }
    .content h2{
        text-align: center;
        margin-top: 1rem;
    }
    footer{
        flex-direction: column;
    }
}